* {
    background-color: #CFD5D5;
    font-family: 'Courier New', Courier, monospace;
/*    border: 2px solid red;  */
}
h1 { 
    text-align: center;
    font-weight: 700;
}

h1, h2, h3 {
    color: #0C9EE3;
    background-color: black;
}

img {
    height: auto;
    width: 600px;
}

p {
    font-size: 26px;
    font-style: italic;
    background-color: #0C9EE3;
    color: #CFD5D5;
}

ul {
    font-size: 18px;
}

ol {
    font-size: 22px;
}

.homelinks {
    font-size: 26px;
    background-color: #0C9EE3;

}
a {
    text-decoration: none;
}

a:link {
    color:#CFD5D5
}

a:visited {
    color: black
}

a:hover {
    color:white;
}

a:active {
    color:white;
}
.indexbutton {
    display: block;
    margin: 8px;
    background-color: #0C9EE3;
    color: black;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 50px;
    padding: 8px;
}